*.bak
*.log
*.orig
*.pyc
*.pyo
*.swp
*~
MANIFEST
build
debian/*.substvars
debian/*debhelper
debian/*stamp*
debian/photomagick-support/
debian/photomagick/
debian/tmp
dist
locale
photomagick.egg-info
photomagick/filters/_plugin_list.py
po/*.pot
tags
