Source: photomagick
Section: graphics
Priority: optional
Maintainer: Karol Będkowski <karol.bedkowski@gmail.com>
Uploaders: Karol Będkowski <karol.bedkowski@gmail.com>
Build-Depends: cdbs (>= 0.4.89),
               debhelper (>= 7.0.50~),
               python (>=2.5),
               python-distutils-extra,
               python-support (>= 1.0),
               python-dev (>=2.5)
Standards-Version: 3.9.1

Package: photomagick
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends},
         python-imaging,
         python-wxgtk2.8,
         python-wxversion (>=2.8)
Suggests: photomagick-support (= ${binary:Version})
Description: Stupid, small application for modifying photos by pre-defined filters.
 Prohtomagix is written in Python, wxWidgets and PIL, so it should be portable
 and possible to run in every environment supported by this software.
 .
 Application work in two main modes:
 - command line - allow to batch processing selected images
 - gui - allow to apply some filters and see result
 .
 In GUI-mode, there are three available options:
 - simple - allow to use predefined, "main" filters
 - advanced - allow to choice three filters: style, modificator and decorator
 - expert - allow to choice any combination of all available filters.
 Prohtomagix is written in Python, wxWidgets and PIL, so it should be portable
 and possible to run in every environment supported by this software.
 .
 Application work in two main modes:
 - command line - allow to batch processing selected images
 - gui - allow to apply some filters and see result
 .
 In GUI-mode, there are three available options:
 - simple - allow to use predefined, "main" filters
 - advanced - allow to choice three filters: style, modificator and decorator
 - expert - allow to choice any combination of all available filters.

Package: photomagick-support
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends},
         photomagick (= ${binary:Version})
Description: Stupid, small application for modifying photos by pre-defined filters.
 Prohtomagix is written in Python, wxWidgets and PIL, so it should be portable
 and possible to run in every environment supported by this software.
 .
 This package contain supporting modules.
